# Basic Python

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# wihtout numpy

x1=[1,3,3,6,5,6] #list
y1=[1,2,3,4,5,6] #list
x1+y1

[1, 3, 3, 6, 5, 6, 1, 2, 3, 4, 5, 6]

In [3]:
tinggi = 182
print('tinggi saya adalah ' + str(tinggi) + ' cm')

tinggi saya adalah 182 cm

In [4]:
pulau = ['Jawa', 'Kalimantan', 'Sulawesi']
pulau2 = ['Papua', 'Padang', 'Bali']

In [5]:
# str + str
pulau3 = pulau + pulau2
print(pulau3)

['Jawa', 'Kalimantan', 'Sulawesi', 'Papua', 'Padang', 'Bali']

In [6]:
c=2/3
round(c, 3)

0.667

#### Append

In [7]:
# Append Table (gabung ke bawah)

titanic=pd.read_csv('train.csv')
# Filter sex = male
titanic_male=titanic[titanic['Sex']=='male']
# Filter sex = female
titanic_female=titanic[titanic['Sex']=='female']
# append. Menggabungkan secara vertikal. Male akan berada diatas.
titanic_all=titanic_male.append(titanic_female)

#### Merge

In [8]:
# New Data Frame 
users = pd.DataFrame(data= [ [1,'Fauzan',21] , [2,'Rizki',24], [3,'Naji',21] , [4,'Baraba',43] ], columns=['ID','Name','Age'])
order = pd.DataFrame(data= [ [1,24] ,[2,3], [3,7], [5,8] ], columns=['ID','Total_trx'])

In [9]:
users

   ID    Name  Age
0   1  Fauzan   21
1   2   Rizki   24
2   3    Naji   21
3   4  Baraba   43

In [10]:
order

   ID  Total_trx
0   1         24
1   2          3
2   3          7
3   5          8

In [11]:
# User tabel 1, order tabel 2, how = inner/left/right/outer

merge = users[['ID','Name']].merge(order, how='outer',left_on=['ID'],right_on=['ID'])
merge

   ID    Name  Total_trx
0   1  Fauzan       24.0
1   2   Rizki        3.0
2   3    Naji        7.0
3   4  Baraba        NaN
4   5     NaN        8.0

## Numpy

In [12]:
x=[1,3,3,6,5,6]
y=[1,2,3,4,5,6]
z= x+y
print(z)

[1, 3, 3, 6, 5, 6, 1, 2, 3, 4, 5, 6]

In [13]:
import numpy as np
x=[1,3,3,6,5,6]
y=[1,2,3,4,5,6]
z2 = np.add(x,y)
print(z2)

[ 2  5  6 10 10 12]

In [14]:
#X dalam numpy

x_np = np.array(x)
type(x_np)

numpy.ndarray

### Replace list

In [15]:
pulau = ['Jawa', 'Kalimantan', 'Sulawesi'] #list

In [16]:
pulau[0] = 'Sumatera'
print(pulau)

['Sumatera', 'Kalimantan', 'Sulawesi']

In [17]:
# Replace nilai diatas 23 dengan ABC pada kolom Total_trx

merge['Total_trx'] = merge['Total_trx'].mask(merge['Total_trx'] > 23, "abc")

## Tuple
Tuple Will be error if we try to add addition item on it, becuase of immutable

In [18]:
tuple = ('Batak', 'Sunda', 'Madura')
type(tuple)

tuple

In [19]:
tuple[0:3]

('Batak', 'Sunda', 'Madura')

In [20]:
tuple[-1]

'Madura'

### Range

In [21]:
z = range(6)
print(z)

range(0, 6)

In [22]:
np.array(z)

array([0, 1, 2, 3, 4, 5])

## Dictionary

In [23]:
dict = {"name": "Fauzan", "Age": 24}
type(dict)
dict

{'name': 'Fauzan', 'Age': 24}

In [24]:
dict['name']
dict.get('name')

'Fauzan'

In [25]:
# dict2['children'] is a list
dict2 = {"name": "Ammar", "children": ['Ahmad', 'Andre', 'Putri']}
dict2['children'][2]

'Putri'

In [26]:
#replace data di kolom kedua dari children
dict2['children'][2] = "Siapa"

In [27]:
#replace data
dict2['name'] = ['Rizki', 'Naji']
print(dict2)

{'name': ['Rizki', 'Naji'], 'children': ['Ahmad', 'Andre', 'Siapa']}

In [28]:
#tambah kolom

dict2['position'] = 'Data Scientist'
print(dict2)

{'name': ['Rizki', 'Naji'], 'children': ['Ahmad', 'Andre', 'Siapa'], 'position': 'Data Scientist'}

Dict3

In [29]:
dict3 = {"name": ['Ammar', 'Pras'], "Age": [24, 23], 'City': ['Surabaya', 'Yogyakarta', 'Solo']}
print(dict3)

{'name': ['Ammar', 'Pras'], 'Age': [24, 23], 'City': ['Surabaya', 'Yogyakarta', 'Solo']}

In [30]:
dict3['City'].remove('Solo')
print(dict3)

{'name': ['Ammar', 'Pras'], 'Age': [24, 23], 'City': ['Surabaya', 'Yogyakarta']}

In [31]:
#remove key point from dictionary
# delete key point "model"
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [32]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem() #last inserted item will be deleted
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [33]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = { 'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe['italy'] = data

paris

In [34]:
# Create sub-dictionary data
data = { 'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe['italy'] = data

# Build a DataFrame cars from my_dict: cars
fromdict=pd.DataFrame(europe)

fromdict.reset_index()

        index   spain france germany norway  italy
0     capital  madrid  paris  berlin   oslo   rome
1  population   46.77  66.03   80.62  5.084  59.83

In [35]:
fromdict

             spain france germany norway  italy
capital     madrid  paris  berlin   oslo   rome
population   46.77  66.03   80.62  5.084  59.83

In [36]:
# Define the data / value
values = [['Ammar', 'L', 32],
         ['Fauzan', 'L', 24],
         ['Ignes', 'P', 18]]

# Define the columns

kolom = ['Nama', 'Gender', 'Umur']

new_df=pd.DataFrame(data=values, columns=kolom)
new_df1=new_df.reset_index()
new_df1

   index    Nama Gender  Umur
0      0   Ammar      L    32
1      1  Fauzan      L    24
2      2   Ignes      P    18

In [37]:
new_df2_1=new_df1.drop(columns=['index'])

In [38]:
new_df2_1

     Nama Gender  Umur
0   Ammar      L    32
1  Fauzan      L    24
2   Ignes      P    18

### Set & Frozen Set
mutable and no duplicate value

In [39]:
x = {'Rendang', 'Soto', 'Bakso'} 
# x = set(['Rendang', 'Soto', 'Bakso'])
print(type(x))

<class 'set'>

In [40]:
x.add('duit')
x

{'Bakso', 'Rendang', 'Soto', 'duit'}

In [41]:
#frozen set is immutablw
x = frozenset(['Rendang', 'Soto', 'Bakso'])

In [42]:
x.add('duit')
x

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# Python Program to  
# demonstrate union of 
# two sets 
  
people = {"Jay", "Idrish", "Archil"} 
vampires = {"Karan", "Arjun", "Ammar"} 
dracula = {"Deepanshu", "Raju"} 
  
# Union using union() ga ada urutan
# function 
population = people.union(vampires) 
  
print("Union using union() function") 
print(population) 
  
# Union using "|" 
# operator 
population = people|dracula 
  
print("\nUnion\n using '|' operator") 
print(population)

### Bool

In [ ]:
a = 1
b = 5
c = a < b
c
print(c)

In [ ]:
p = int(input())

In [ ]:
if p >= 10000000:
    print('High Performance')
elif p <= 10000000 and p > 2500000:
    print('Mid Performance')
else:
    print('Low Performance')

## Loop

In [ ]:
Buah = ['Apel', 'Pisang', 'Semangka', 'Jeruk']
for aib in Buah:
    print(aib)

In [ ]:
aib

In [ ]:
# Not do looping anymore after break
range_values = range(100)
for x in range_values:
    print(x)
    if x > 10:
        break

In [ ]:
# looping 2x. Looping untuk b dulu, setelah selesai akan looping untuk a

a = ["a1", "a2", "a3"]
b = ["b1", "b2", "b3"]

for x in a:
    for y in b:
        print(x, y)

In [ ]:
for x in range(6):
    print(x)

### While Loops

With the while loop we can execute a set of statements as long as a condition is <font color='red'>true</font>. 

<a href='https://www.w3schools.com/python/python_while_loops.asp'>Refrence</a>

i harus didefinisikan terlebih dahulu mulai dari mana

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
    if i == 3:
        break

## Function

In [ ]:
def penjumlahan(a, b):
    print("Penjumlahan a + b = " + str(a + b))

In [ ]:
penjumlahan(2, 5)

In [ ]:
def kalkulator_ku(metode, a, b):
    if metode == 'penjumlahan':
        print('Penjumlahan A + b = ' + str(a+b))
    elif metode == 'pengurangan':
        print('Pengurangan A - b = ' + str(a-b))
    elif metode == 'perkalian':
        print('Pengurangan A x b = ' + str(a*b))
    elif metode == 'pembagian':
        print('Pengurangan A : b = ' + str(a/b))
    else:
        print("Format Salah")

In [ ]:
a = int(input())
b = int(input())
kalkulator_ku('penjumlahan', a, b)

In [ ]:
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout with the string 'congratulations'
shout('congratulations')

Apply Function For do calculation for each rows

In [ ]:
Table = pd.DataFrame(data=[[1,'Fauzan',"085719048675"],[2,'Rizki',"081319048675"],[3,'Naji',"087719048675"]], columns=['ID','Nama','Phone'])

In [ ]:
def get_provider(x):
    if x['Phone'][:3] == '087':
        kartu = 'XL'
    elif x['Phone'][:3] == '081':
        kartu = 'simpati'
    else:
        kartu = 'IM3'
    return kartu

In [ ]:
Table['kartu'] = Table.apply(lambda x: get_provider(x), axis=1)
Table

In [ ]:
# Penggunaan apply
Table['SUM1'] = Table.apply(lambda x: x['ID']+1, axis=1)

In [ ]:
Table

## Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('train.csv')

# Filter Sex dan Age. Untuk dan menggunakan &. Untuk OR menggunakan |
df[(df['Sex']=='female')&(df['Age']>50)].sort_values(by='Age',ascending=False)

In [ ]:
# Update data type for columns str/int/float
df['Pclass']=df['Pclass'].astype(str)

In [ ]:
df.head(4)

In [ ]:
df.tail(4)

In [ ]:
df[4:6]

In [ ]:
df[:4]

In [ ]:
df[4:]

In [ ]:
# See the shape of dataframe
df.shape

In [ ]:
pd.to_datetime(superstore['Order Date'])

Rename Columns

In [ ]:
df.columns

In [ ]:
df.columns = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [ ]:
df.sample(10)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
#false artinya tidak null.
df.isnull()

In [ ]:
# Untuk melihat total kolom yang null
df.isnull().sum()

In [ ]:
df['Age'].mean()

In [ ]:
df['Age'].median()

In [ ]:
df['Age'].mode()

In [ ]:
df[['Age','Gender']]

In [ ]:
# Fill the data blank
df[['Age']] = df[['Age']].fillna(df[['Age']].mean())

In [ ]:
# Fill the data blank with string
df[['Cabin']] = df[['Cabin']].fillna('ABC')

In [ ]:
# Fill the column with one value
df[['Cabin']] = 'ABC'

In [ ]:
df.dropna()

Ubah dari object ke datatime

- superstore['Order Date']=pd.to_datetime(superstore['Order Date'])

In [ ]:
# agg sum/count
df.groupby(['Ticket','Age']).agg({'Fare': "sum"}).reset_index().sort_values(by="Age")

In [ ]:
df['Segment']=np.where(df['Age']>30,'High','Low')

In [ ]:
# Formulation
df['AF']=df['Age']+df['Fare']

In [ ]:
# Pivot Tables
df.pivot_table(index='Ticket', columns='Age', values='Fare', fill_value=0).reset_index().head()

In [ ]:
# Sort ascending by age descending
df.sort_values(by='Age',ascending=False).head()

In [ ]:
# Sort ascending by age ascending
df.sort_values(by='Age').head()

In [ ]:
df.sort_values(by=['Age', 'Fare'], ascending=[False, True]).head() #multi columns

In [ ]:
df_group_multi = df_superstore.groupby(['City', 'Category']).agg({'Profit': ['sum'], 'Order ID': ['count']}).reset_index().droplevel(level=0, axis=1)
df_group_multi.columns = ['city', 'category', 'total profit', 'total order']
df_group_multi.head()

In [ ]:
# Mengambil 5 row teratas setelah di filter dari Age dan lalu di save
save = df.sort_values(by='Age',ascending=False).head(10)

save.to_csv('to_save.csv')

In [ ]:
# There are 417 datas, 2 unique value, mode is male, 265 datas of male
df[['Gender']].describe()

In [ ]:
df['Gender'].value_counts()

In [ ]:
# Build cars DataFrame from Dictionary
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)

In [ ]:
#Untuk revisi index

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

In [ ]:
cars[:3]

In [ ]:
#Open file
# Import the cars.csv data: cars
# cars=pd.read_csv('cars.csv')

cars = pd.read_csv('cars.csv', index_col=0) #kolom pertama jadi index

In [ ]:
cars

In [ ]:
# Print out observation for Japan atau index ke-dua
cars.iloc[2]

# Print out observations for Australia and Egypt
cars.loc[['AUS','EG']]

In [ ]:
cars.iloc[:,[1]]

In [ ]:
# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])

# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])

In [ ]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5 , my_house<10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11 , your_house <11))

In [ ]:
#Contoh while dengan for

# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset>1 :
        offset=offset-1
    else : 
        offset=offset+1
    print(offset)

In [ ]:
#Jika ingin
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for a, x in enumerate(areas) :
    print("room " + str(a+1) + ": " + str(x))

In [ ]:
# Untuk dictionary jika ingin for key dan valuenya

world = { "afghanistan":30.55, 
          "albania":2.77,
          "algeria":39.21 }

for a, b in world.items() :
    print(a + " -- " + str(b))

In [ ]:
 # Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x, y in europe.items():
    print("the capital of "+ x + " is " + y)

In [ ]:
# Import numpy as np
import numpy as np

# For loop over np_height
for x in x_np:
    print(str(x) + " inches")

# For loop over np_baseball
for x in np.nditer(x_np):
    print(str(x))

In [ ]:
# for loop over 2D array
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])

for x in arr:
  for y in x:
    print(y)

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Iterate over rows of cars
for lab, row in cars.iterrows():
    print(lab)
    print(row)

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows() :
    cars.loc[lab, "COUNTRY"] = row["country"].upper()

# Print cars
print(cars)

# 2
# # Import cars data
# import pandas as pd
# cars = pd.read_csv('cars.csv', index_col = 0)

# # Use .apply(str.upper)
# cars["COUNTRY"] = cars["country"].apply(str.upper)
# print(cars)
# 2

In [ ]:
cars

In [ ]:
# Rename column
cars.columns

## Random Number

In [ ]:
# Import numpy as np
import numpy as np

# Set the seed
# np.random.seed(7)

# Generate and print random float
print(np.random.rand())

np.random.randint(1, 1000)

Percentiles

In [ ]:
df[['Age']].describe(percentiles=[.25,.5,.75,.90])

## Basic Visualization

In [ ]:
df=pd.read_csv('C:/Users/nafa8001/Dropbox/Belajar/Shift Academy/Topic 3 - Python/titanic/Sample - Superstore.csv')

In [ ]:
df.head()

In [ ]:
df[df['Customer Name'] == 'Claire Gute']

In [ ]:
df2.groupby(['City','Category']).agg({'Profit': "sum"}).reset_index().sort_values(by="City")

In [ ]:
df.groupby(['City','Category']).agg({'Profit': "sum"}).head().reset_index()

In [ ]:
df.pivot_table(index='City', columns='Category', values='Profit', fill_value=0).reset_index().head()

## Data Visualization

#### 1. Bar Chart

In [ ]:
# Group by
df_top_city = df.groupby(['City'])['Order ID'].count().reset_index().sort_values(by='Order ID', ascending=False).head()
df_top_city

In [ ]:
df_top_city.columns = ['city', 'total_order']

In [ ]:
plt.figure(figsize=(10,10)) #set sizing

plt.bar(x='city', height='total_order', data=df_top_city, color='green')
plt.title('Top City based on Order', fontsize=16) #detail title
plt.ylabel('Total Order', fontsize=14) #detail y axis
plt.xlabel('City', fontsize=14) #detail x axis
plt.yscale('log')

# Get current axis on current figure
ax = plt.gca()
ax

# # # Iterate through the list of axes' patches
for p in ax.patches:
    ax.text(p.get_x() + p.get_width()/2, p.get_height(), '%d' % int(p.get_height()), 
            fontsize=13, color='black', ha='center', va='bottom')
    print (p)
    
plt.savefig('top_city.jpeg') #save image 
plt.show()

### 2. Line Chart

In [ ]:
#Convert Datatime type firts ()
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [ ]:
df_trend_order = df.groupby(['Order Date'])['Order ID'].count().reset_index().sort_values(by='Order Date', ascending=False)
df_trend_order.head()

In [ ]:
df_trend_order.columns = ['order_date', 'total_order']

In [ ]:
plt.figure(figsize=(16,6))

a = df_trend_order[df_trend_order.order_date >= '2018-01-01']
plt.plot(a['order_date'], a['total_order'])
plt.show()

### 3. Pie Chart

In [ ]:
df_category = df.groupby(['Category'])['Order ID'].count().reset_index().sort_values(by='Order ID', ascending=False).head()
df_category

In [ ]:
df_category.columns = ['category', 'total_order']
plt.figure(figsize=(16,6))

plt.pie(x=df_category['total_order'], labels=df_category['category'], autopct='%1.7f%%')
plt.show()

In [ ]:
df.boxplot(column='Profit', by='Segment')

In [ ]:
life_exp = [974.5803384, 5937.029525999998, 6223.367465, 4797.231267, 12779.37964, 34435.367439999995, 36126.4927, 29796.04834, 1391.253792, 33692.60508, 1441.284873, 3822.137084, 7446.298803, 12569.85177, 9065.800825, 10680.79282, 1217.032994, 430.0706916, 1713.778686, 2042.09524, 36319.23501, 706.016537, 1704.063724, 13171.63885, 4959.114854, 7006.580419, 986.1478792, 277.5518587, 3632.557798, 9645.06142, 1544.750112, 14619.222719999998, 8948.102923, 22833.30851, 35278.41874, 2082.4815670000007, 6025.3747520000015, 6873.262326000001, 5581.180998, 5728.353514, 12154.08975, 641.3695236000002, 690.8055759, 33207.0844, 30470.0167, 13206.48452, 752.7497265, 32170.37442, 1327.60891, 27538.41188, 5186.050003, 942.6542111, 579.2317429999998, 1201.637154, 3548.3308460000007, 39724.97867, 18008.94444, 36180.78919, 2452.210407, 3540.651564, 11605.71449, 4471.061906, 40675.99635, 25523.2771, 28569.7197, 7320.8802620000015, 31656.06806, 4519.461171, 1463.249282, 1593.06548, 23348.139730000006, 47306.98978, 10461.05868, 1569.331442, 414.5073415, 12057.49928, 1044.770126, 759.3499101, 12451.6558, 1042.581557, 1803.151496, 10956.99112, 11977.57496, 3095.7722710000007, 9253.896111, 3820.17523, 823.6856205, 944.0, 4811.060429, 1091.359778, 36797.93332, 25185.00911, 2749.320965, 619.6768923999998, 2013.977305, 49357.19017, 22316.19287, 2605.94758, 9809.185636, 4172.838464, 7408.905561, 3190.481016, 15389.924680000002, 20509.64777, 19328.70901, 7670.122558, 10808.47561, 863.0884639000002, 1598.435089, 21654.83194, 1712.472136, 9786.534714, 862.5407561000002, 47143.17964, 18678.31435, 25768.25759, 926.1410683, 9269.657808, 28821.0637, 3970.095407, 2602.394995, 4513.480643, 33859.74835, 37506.41907, 4184.548089, 28718.27684, 1107.482182, 7458.396326999998, 882.9699437999999, 18008.50924, 7092.923025, 8458.276384, 1056.380121, 33203.26128, 42951.65309, 10611.46299, 11415.80569, 2441.576404, 3025.349798, 2280.769906, 1271.211593, 469.70929810000007]

In [ ]:
#  by defult the bins=10
plt.hist(life_exp, bins=3)

#### Semgmentation

In [ ]:
df['Segment']=np.where(df['Profit']>30,'High','Low')
df.head()

In [ ]:
df['Segment'].value_counts()

In [ ]:
# Untuk mengisi 1 kolom dengan 1 value. Contoh region ingin diisi dengan Jawa Timur
df['Region']="Jawa Timur"
df.head(3)

In [ ]:
# Formulation between 2 variables
df['aov']=df['Profit']+df['Sales']
df.head()

In [ ]:
i for i in range(5) if i > 2:
    print(i)

In [ ]:
ints = set([1,1,2,3,3,3,4])
print(len(ints))